@inherits ProviderBase;

@page "/providers"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Proveedores</h2>
            <p>Catálogo de proveedores</p>

            <div class="top-separator">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Buscar</h4>
                        <fieldset>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="searchCode">Código</label>
                                        <input type="text" class="form-control" id="searchCode" placeholder="Código" @bind="SearchView.Code">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="searchName">Nombre</label>
                                        <input type="text" class="form-control" id="searchName" placeholder="Nombre" @bind="SearchView.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="searchActive">Activo</label>
                                        <select class="custom-select" id="searchActive" @bind="SearchView.Active">
                                            <option value="1">Si</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="top">Filas</label>
                                        <select class="custom-select" id="top" @bind="SearchView.TopRows">
                                            <option value="10">10</option>
                                            <option selected="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">500</option>
                                        </select>
                                    </div>                            
                                </div>
                            </div>
                            <input type="button" class="btn btn-secondary" value="Buscar" @onclick="GetProviders" />
                            <input type="button" class="btn btn-primary" value="Agregar Proveedor" @onclick="ShowAddModal" />
                        </fieldset>
                    </div>
                </div>

            </div>

            <ErrorMessage Display="@DisplayErrorMessage" Message="@ErrorMessage" />
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Nit</th>
                        <th>Activo</th>
                    </thead>
                    <tbody>
                        @foreach (var provider in Providers)
                        {
                            <tr>
                                <td>
                                    <div @onclick="() => GetProvider(provider.Id)" class="crud-icon">
                                        <span class="oi oi-brush" aria-hidden="true"></span>
                                    </div>
                                    @* <div class="crud-icon">
                                        <span class="oi oi-trash" aria-hidden="true"></span>
                                    </div> *@
                                </td>
                                <td>@provider.Code</td>
                                <td>@provider.Name</td>
                                <td>@provider.TaxId</td>
                                <td><BooleanField Value="@provider.Active"/></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (DisplayModal)
            {
                <div class="modal" tabindex="-1" role="dialog" style="display: block">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                @if (!ModifyModal)
                                {
                                    <h5 class="modal-title">Agregar Proveedor</h5>
                                }
                                else 
                                {
                                    <h5 class="modal-title">Actualizar Proveedor</h5>
                                }
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideAddModal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <ErrorMessage Display="@HasModalError" Message="@ModalErrorMessage" />

                                <EditForm EditContext="@EditContext" OnValidSubmit="@SaveChanges">
                                    <DataAnnotationsValidator/>
                                    <ValidationSummary/>
                                    <div class="form-group">
                                        <label for="code">Código</label>
                                        <input type="text" class="form-control" id="code" placeholder="Código" @bind="ProviderView.Code"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" placeholder="Nombre" @bind="ProviderView.Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="taxId">Nit</label>
                                        <input type="text" class="form-control" id="taxId" placeholder="Nit" @bind="ProviderView.TaxId"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact">Contacto</label>
                                        <input type="text" class="form-control" id="contact" placeholder="Contacto" @bind="ProviderView.Contact"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descripción</label>
                                        <textarea class="form-control" id="description" @bind="ProviderView.Description" row="4"></textarea>
                                    </div>
                                    @if (ModifyModal)
                                    {
                                        <label for="active">Activo</label>
                                        <div id="active" class="form-group">
                                            <select class="form-control" @bind="ProviderView.Active">
                                                <option value="0">No</option>
                                                <option value="1">Si</option>
                                            </select>
                                        </div>
                                    }

                                    <input type="submit" class="btn btn-primary" value="Guardar" @onclick="SaveChanges" />
                                    <input type="button" class="btn btn-secondary" value="Cancelar" @onclick="HideAddModal"/>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>
