@inherits ProviderBase;

@page "/providers"

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Providers</h2>
            <p>Providers catalog</p>

            <div class="top-separator">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Search</h4>
                        <fieldset>
                            <div class="row">
                                <div class="col-5">
                                    <div class="form-group">
                                        <label for="searchCode">Code</label>
                                        <input type="text" class="form-control" id="searchCode" placeholder="Code" @bind="SearchView.Code">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="searchName">Name</label>
                                        <input type="text" class="form-control" id="searchName" placeholder="Name" @bind="SearchView.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="searchActive">Active</label>
                                        <select class="custom-select" id="searchActive" @bind="SearchView.Active">
                                            <option value="1">Y</option>
                                            <option value="0">N</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="top">Rows</label>
                                        <select class="custom-select" id="top" @bind="SearchView.TopRows">
                                            <option value="10">10</option>
                                            <option selected="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">500</option>
                                        </select>
                                    </div>                            
                                </div>
                            </div>
                            <input type="button" class="btn btn-secondary" value="Search" @onclick="GetProviders" />
                            <input type="button" class="btn btn-primary" value="Add Provider" @onclick="ShowAddModal" />
                        </fieldset>
                    </div>
                </div>

            </div>

            <ErrorMessage Display="@DisplayErrorMessage" Message="@ErrorMessage" />
            <div class="top-separator">
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Tax Id</th>
                        <th>Active</th>
                    </thead>
                    <tbody>
                        @foreach (var provider in Providers)
                        {
                            <tr>
                                <td>
                                    <button class="btn btn-secondary" @onclick="() => GetProvider(provider.Code)" >
                                        <span class="oi oi-brush" aria-hidden="true"></span>
                                    </button>                                    
                                </td>
                                <td>@provider.Code</td>
                                <td>@provider.Name</td>
                                <td>@provider.TaxId</td>
                                <td><BooleanField Value="@provider.Active"/></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (DisplayModal)
            {
                <div class="modal" tabindex="-1" role="dialog" style="display: block">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                @if (!ModifyModal)
                                {
                                    <h5 class="modal-title">Add Provider</h5>
                                }
                                else 
                                {
                                    <h5 class="modal-title">Update Provider</h5>
                                }
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="HideAddModal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <ErrorMessage Display="@HasModalError" Message="@ModalErrorMessage" />

                                <EditForm EditContext="@EditContext" OnValidSubmit="@SaveChanges">
                                    <DataAnnotationsValidator/>
                                    <ValidationSummary/>
                                    <div class="form-group">
                                        <label for="code">Code</label>
                                        <input type="text" class="form-control" id="code" placeholder="Code" @bind="ProviderView.Code"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Name" @bind="ProviderView.Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="taxId">Tax Id</label>
                                        <input type="text" class="form-control" id="taxId" placeholder="Tax Id" @bind="ProviderView.TaxId"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="contact">Contact</label>
                                        <input type="text" class="form-control" id="contact" placeholder="Contact" @bind="ProviderView.Contact"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" id="description" @bind="ProviderView.Description" row="4"></textarea>
                                    </div>
                                    @if (ModifyModal)
                                    {
                                        <label for="active">Active</label>
                                        <div id="active" class="form-group">
                                            <select class="form-control" @bind="ProviderView.Active">
                                                <option value="0">N</option>
                                                <option value="1">Y</option>
                                            </select>
                                        </div>
                                    }

                                    <input type="submit" class="btn btn-primary" value="Save" @onclick="SaveChanges" />
                                    <input type="button" class="btn btn-secondary" value="Cancel" @onclick="HideAddModal"/>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>    
            }

        </div>
    </div>
</div>
